##############################
## IntelliJ
##############################
out/
traget/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
animals.json
animals.yaml
animals.xml
animals_eo.json
animals_eo.yaml
animals_eo.xml
hs_err_pid*
